    @media screen and (max-width:450px) {
        .navbar-default {
            background: #775ba3 url(../img/head.png) 80% 15px no-repeat;
        }
    }

    @media screen and (max-width:800px) {
        .block2 {
            display: block;
        }
    }

    @media screen and (max-width:1080px) {
        .block3 {
            display: block;
            flex-wrap: wrap;
        }
        .block3 .item3 {
            margin-left: 30%;
            padding-top: 25px;
        }
        .block3 .item3 p {
            width: 358px;
        }
        .block5 {
            height: 900px;
            display: block;
        }
        .box1 {
            margin: 0 auto;
            display: block;
            flex-wrap: wrap;
            width: 50%;
        }
        .box1 .item5 {
            width: 100%;
            text-align: left;
        }
        .item5 h5 {
            text-align: left;
        }
        footer p {
            display: inline-block;
        }
    }

    @media screen and (max-width:530px) {

        .block5 {
            height: 950px;
        }
    }